@model IEnumerable<AcmeCurso.Domain.Inscricao>
    <h1>Cursos: (@Model.Count())</h1>
    <table class="table">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Inscricao</td>
            </tr>
        </thead>
        <tbody>
            @if (Model != null) { 
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Curso.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataInscricao)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


